.Dad-wrapper {
  width: 15%;
  height: 50%;
  left: 70%;
  top: 5%;
  position: absolute;
  background-color: black;
  transition: all 1s;

  .Dad-arm {
    position: absolute;
    top: 30%;
    left: 45%;
    width: 120%;
    height: 12%;
    transform-origin: 10% 50%;
    background-color: pink;
    transition: all 0.5s;

    .Dad-ball {
      position: absolute;
      top: -15%;
      left: 80%;
      width: 28%;
      height: 145%;
      transform-origin: 50% 50%;
      background-color: white;
      transition: all 1s;
    }
  }
}
