* {
  box-sizing: border-box;
}

body {
  background-color: #924b7a;
}

.App-wrapper {
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: Roboto;
  font-size: 4vw;
  color: white;
  line-height: 4.7vw;

  .App-content-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;

    .App-game-container {
      width: 100vw;
      flex: none;
      order: 5;

      .App-title {
        width: 100%;
        text-align: center;
      }
    }

    .App-description-container {
      order: 7;
      flex: 1 0;
      margin-left: 2%;
      margin-right: 2%;
      text-align: center;

      .App-description-link {
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-size: contain;
        width: 100%;
        height: 6vw;

        &.link-github {
          background-image: url('assets/mark-github.svg');
        }
      }
    }

    .App-controls-container {
      order: 9;
      flex: 1 0;
      margin-left: 2%;
      margin-right: 2%;
      text-align: center;
    }
  }
}

@media (min-width: 1025px) {
  .App-wrapper {
    font-size: 1.3vw;
    line-height: 1.7vw;
    justify-content: center;

    .App-title {
      width: 60%;
    }

    .App-content-container {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-grow: 0;

      .App-game-container {
        width: 60vw;
      }

      .App-description-container {
        order: 1;

        .App-description-link {
          height: 2vw;
        }
      }

      .App-controls-container {
      }
    }
  }
}
