.Meter-wrapper {
  width: 60%;
  height: 25%;
  top: 4%;
  left: 2%;
  position: absolute;

  .Meter-header {
    position: relative;
    font-size: 6vw;
    line-height: 6vw;
    width: 100%;
    text-align: center;
  }

  .Meter-label {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 2%;
  }
}

@media (min-width: 1025px) {
  .Meter-wrapper {
    .Meter-header {
      font-size: 3vw;
      line-height: 3vw;
    }

    .Meter-label {
      font-size: 2vw;
      line-height: 2vw;
      margin-top: 3%;
    }
  }
}
